@include bp(fullscreen) {


#top{
  @include flex;
  @include flex_align_start;
  margin-left: 5.5%;
  margin-top: 60px;
}
#top:hover{
  -webkit-transform: none;
   transform: none;
}


.main-nav .nav {
  @include flex_justify_end;
	font-weight: 600;
  font-size: $font-size__large;
	margin-top: -65px;
  @include bp(large_screen){
    margin-right: 2%;
  }

}

.main-nav .nav > li {
	padding-left: 10px;
}

ul.nav {
    @include flex_row;
}

#toggle_class{
  display: none;
}
img{
   max-width: 90%;
}

section{
  margin-top: 160px;
}


#intro1{
  width: 50%;
  height: em(290px);
  margin-bottom: em(30px);
  @include bp(large_screen){
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
  }

}
p.intro2 {
    margin-top: 16px;
    flex-basis: 75%;
}



.cardflex {
    flex-basis: 33%;
}


div.footer-nav {
  @include flex;
  @include flex_row;
  }

.name-foot {
  margin-top: -47px;
  color: $red;
  font-size: $font-size__large;
  @include bp(large_screen){
      margin-top: -60px;
    }
  }


.top {
    display: none;
}

a{
  text-decoration: none;
  color: $red;
}

#phone{
  font-weight: 800;
}

#email{
    font-weight: 800;
}

#footer-height{
  max-height: 10vh;
}

.footer-nav {
    @include flex_justify_end;
	  font-weight: 600;
}

.footer-nav > ul{
  font-size: $font-size__large;
  margin-top: -47px;
  margin-right: -1.5%;
  @include bp(large_screen){
    margin-top: -60px;
    margin-right: -.8%;
   }
  }

  #wrapper{
    @include bp(large_screen){
      #wrapper{
        @include wrapper_95;
      }
      .name{
        margin-left: 5.25%;
      }
      #top{
        margin-left: 0;
      }

    }
  }


}
