@include bp(fullscreen) {

  .name {
  	margin-top: 45px;

  }
#top{
  @include flex;
  @include flex_align_start;
  margin-left: calc(6.6% + 3px);
}
#top:hover{
  -webkit-transform: none;
   transform: none;
}


.main-nav .nav {
  @include flex_justify_end;
	font-weight: 600;
  font-size: 20px;
	margin-right: 2%;
	margin-top: -65px;

}

.main-nav .nav > li {
	padding-right: 15px;
	padding-left: 20px;
  margin-top: 10px;
}

ul.nav {
    @include flex_row;
}

#toggle_class{
  display: none;
}
img{
  max-width: 90%;
}

section{
  /*padding: 30px;*/
  margin-top: 160px;
  width: 97%;
  margin-left: 2%;
}

/*#profile-image{
  width: 400px;
}*/

#intro1{
  /*flex-basis: 40%;*/
  width: 50%;
  height: em(290px);
  margin-bottom: em(30px);

}
p.intro2 {
    margin-top: 16px;
    flex-basis: 75%;
}



.cardflex {
    flex-basis: 33%;
}


div.footer-nav {
  @include flex;
  @include flex_row;
  }

.name-foot {
	margin-top: -49px;
  margin-left: .5%;
	color: brown;
  font-size: 20px;
}

.footer-nav > ul{
  font-size: 20px;
  margin-top: -49px;
  margin-right: -1%;

}
.top {
    display: none;
}

a{
  text-decoration: none;
  color: brown;
}

#phone{
  font-weight: 800;
}

#email{
    font-weight: 800;
}

#footer-height{
  max-height: 10vh;
}
footer{
  /*margin-bottom: 2%;*/
  padding-bottom: 5%;
}
.footer-nav {
    @include flex_justify_end;
	  font-weight: 600;
	  margin-right: 10px;

}


}
