footer{
  @extend %flex;
  @extend %flex_column;
  @extend %centered;
  background-color: #F8FBF5;
  height: 350px;
  border-bottom: 6px solid $red;
  &:hover{
   border-bottom: 10px solid $red;

  }

}


h2.contact{
  font-size: 18px;
  margin-top: 45px;
}
p.contact{
  @extend %centered;
  @include flex_align_center;
  margin-right: 10px;
}


.footer-nav{
  display: none;
}

.end{
  @extend %flex;
  @extend %flex_row;
  @extend %flex_space_between;
  @include grey_ltr;
  @include fixed_footer_nav;
  color: $red;
  padding-top: 2%;
  padding-bottom: 2%;
}
