#toggle{
  @include mobile_right_toggle;
  border-radius: 50%;
  margin-right: em(10px);
  @media #{$mobile_small}{
    margin-right: em(1.5px);
    width: em(42px);
    height: em(42px);
  }
}
#header{
  @include grey_ltr;
  @include fixed_header;
  padding-left: 0;

}

div.name{
  @extend %centered;

}
.name{
  @include text(25px, NULL, 800, $color: $red); /* CSS validator says "NULL" not valid, but will not work otherwise */
  margin-top: 10px;

}

.main-nav .nav{

     > li {
    padding-bottom: 30px;
    display: none;
  }
   @include bp(tablet){
      ul.nav {
        @include flex;
        @include flex_row;
        @include flex_justify_center;
    }
  }
}
