#top:hover{
  @include transform_1;
}


#wrapper{
  @include wrapper_90;

}


img{
  max-width: 95%;
  margin-top: 25px;
  @include img_border;
  &:hover{
    opacity: 0.7;
  }
  @include bp(tablet){
    max-width: 90%;
  }
}

/* #toggle_class keeps margin between nav and section flush
   when nav is toggled on and off with sticky header nav */

#toggle_class{
  content: "";
  height: 0px;
  margin-bottom: 300px;
  display: none;
}


section {
    @extend %flex;
    @extend %flex_column;
    @extend %flex_align_items_center;
    background-color: #F8FBF5;
    border-top: 6px solid $red;
    line-height: ($base__line/$base__font-size);/* Calculate line height based on font-size*/
    margin-top: 110px;
    &:hover{
        border-top: 10px solid $red;
    }
}

p{
  @extend %centered;
  @include text(1em, 1.4, $font-weight--light);
  font-family: $stack-helvetica;
  max-width: 90%;
  margin-left: 10px;
  font-size: 18px;
}
#intro1{
  @include flex_align_center;
  width: 340px;

}
.intro2 {
  @include flex_align_center;
  @include text(1.25em, 1.4, $font-weight--light);
	margin-top: 20px;
	color: $black;
	padding: 8px 8px;
  font-family: $stack-helvetica;
}


.portfolio{
  @extend %centered;
  @include text(12px, $color:$red);
  margin-bottom: 30px;
  margin: 40px auto;

}

.card{
  margin-bottom: em(40px);
}
.cardflex{
  @extend %centered;
  flex-basis: 90%;
  &:hover{
    @include transform_1;

  }
}
